* {
    box-sizing: border-box;
}
  
html {
    font-family: play, serif;
    color: var(--primary-base);
    line-height: 1.71428;
}
  
body {
    margin: 0;
    font-size: 0.875rem;
    /* background-color:rgba(209, 165, 209, 0.528) */
}

.debug *{
    outline: 1px solid orange;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    /* margin: 0 0 0.2em; */
    margin: 0;
}

 
h1, h2 {
    text-transform: uppercase;
    text-align: center;
}
  
a {
    color: var(--primary-1);
    text-decoration: none;
}
  
img {
    height: 5em;
}

img:hover {
    border: 2px solid palevioletred;
    cursor: pointer;
}

.rotate {
    transform-origin: center;
    rotate: 360deg;
    scale: 1.6;
}

.clicked {
    border-color: palevioletred;
    border: 2px solid palevioletred;
}

.bounce {
    /* translate: 25%; */
    left: 2em;
    animation: 
        bounce 1s linear alternate 1;
    
}

.move-around{
    animation-name: move-around;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

@keyframes bounce {
    0% {
        translate: 30%;
    }

    25% {
        translate: -15%;
    }

    50% {
        translate: 10%;
    }

    75% {
        translate: -5%
    }

    100% {
        translate: 0%;
    }
}

@keyframes move-around {
    25%{
        transform: rotateY(40deg) rotateZ(20deg);
    }
    75%{
        transform: rotateY(-60deg) rotateZ(40deg);
    }
}