.main-layout {
    display: grid;
    /* grid-template-columns: 20px 1fr 20px; */
    grid-template-columns:
      minmax(50px, 1fr)
      minmax(auto, 1060px)
      minmax(50px, 1fr);
}

.main-layout > *:not(.full) {
    grid-column: 2;
}

.main-layout > *.full {
    grid-column: 1 / -1;
}

.main-header-layout {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.main-container-layout{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}

.chart-editor-layout{
    display: grid;
}

.chart-samples-layout {
    display: grid;
    grid-auto-flow: column;
}