.main-layout {
    display: grid;
    /* grid-template-columns: 20px 1fr 20px; */
    grid-template-columns:
      minmax(20px, 1fr)
      minmax(auto, 1060px)
      minmax(20px, 1fr);
}

.main-layout > * {
    grid-column: 2;
}