:root {
/* colors */
    --primary-1: #000;
    --primary-base: #626262;
    --primary--1: #b4ad9e;
    --primary--2: #f0f0f0;

    --primary--3: rgb(39, 97, 130);

    /* color: #d7b6d0;
    color: #4b29c5;
    color: #797278;
    color: #378191;
    color: #728e6f;
    color: #5bdf6d;
    color: #b3d314;
    color: #c89599;
    color: #d2414d; */
    
}

