.backgrounds-selector{
    position: relative;
    grid-area: background-selector;
    display: grid;
    place-items: center; 
}



.backgrounds-title{
    margin-block: 0.5em;
    background-color: var(--primary--2);
}

.backgrounds {
    display: grid;
    grid-auto-flow: column;
    border: 1px solid lightgray;
    background-color: beige;
}

.background-img {
    height: 5em;  
}

.bgd-opacity-btn {
    display: grid;
    grid-auto-flow: column;
    place-content: start; 
}

.opacity-label{
    text-transform: uppercase;
}

