.backgrounds-selector{
    grid-area: background-selector;
    display: grid;
    place-items: center; 
}

.backgrounds {
    display: grid;
    grid-auto-flow: column;
}

.backgrounds-title{
    margin-block: 0.5em;
    background-color: var(--primary--2);
}

.background-img {
    height: 5em;  
}