.backgrounds-selection{
    align-self: end;
    height: 20vh;
}

.backgrounds {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    
}

.backgrounds-title{
    margin-block: 0.5em;
    background-color: var(--primary--2);
}

.background-img {
    height: 5em;
    
    
}