.btn {
    padding: 0.3em 0.5em;
    border: 2px solid #d3d3d3;
    font-family: lato-bold, sans-serif;
    font-size: 1em;

    text-transform: uppercase;
    background-color: beige;
    color: gray;
    cursor: pointer;
}

.btn:hover {
    color: #d87093;
    border-color: palevioletred;
}
