.chart-display{
    grid-area: chart-display;
    justify-self: center;
    
    display:grid;
    row-gap: 0.5em;

    position: relative;

    border: 1px solid lightgray;
    padding: 0.7em 0.7em 0;
}

canvas {
    /* border: 1px solid lightgray; */
}


.modal {
    position: absolute;
    z-index: 1;

    padding: 0.3em;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: .3em;
    
    opacity: 0;
    transition: opacity 300ms;
    
    text-align: center;
    font-size: 1.3em;
}

.canvas-btns {
    display: grid; 
    align-content: start;
    margin-block-end: 0.5em;
}

.canvas-btns .facebook-btn{
    grid-column: 3;
    justify-self: end;
    background-color: rgba(111, 56, 239, 0.383);
    
}

.download-btn{
    justify-self: start;
    align-self: center;
}

.canvas-btns .save-btn{
    transition: 500ms;
}

/* .canvas-btns .rotate{
    transform-origin: center;
    rotate: 360deg;
    scale: 1.6;
} */





