.chart-editor{
    display: grid;
}

.chart-samples-layout {
    /* margin-block-start: 1.5em; */
    display: grid;
    grid-auto-flow: column;
}


.chart-samples div{
    display:grid;
}

.chart-samples img {
    height: 5em;
    place-self: center; 
}

.chart-samples img:hover {
    border: 2px solid palevioletred;
    cursor: pointer;
}

.clicked {
    border-color: palevioletred;
    border: 2px solid palevioletred;
}

.chart-values-editor {
    display: grid;
}

.chart-form{
    display:grid;
    row-gap: 0.2em;
    grid-template-areas: "header"
                        "terms"
                        "action-btns";
}

.editor-header {
    grid-area: header;
    align-items: center;
}

.terms {
    margin-block-start: 0.5em;
    grid-area: terms;
    border: 2px solid lightgray;
    padding: 0.5em;
    gap: 0.2em;
    align-items: center;
}

.action-btns {
    grid-area: action-btns;
    gap: 0.2em;
}

.editor-header, .terms, .action-btns{
    text-transform: uppercase;
    display: grid;
}

.val-units{
    width:max-content;
}

.submit {
    justify-self: center;
}

.val-units {
    
    grid-column:7;
    justify-self: end;
}

.name-label, .title-label, .draw, .clear{
    grid-column: 1;
}

.draw, .clear {
    width: 8.5em;
}

.add-term, .reset {
    grid-column: 3;
    width: 6.5em;
    justify-self: end;
}

label {
    /* justify-self: end; */
    /* align-self: center; */
}

.title-label {
    justify-self: center;
}


.remove-term-btn {
    grid-column: 7;
    justify-self: end;
    /* align-self: center; */
}












