.chart-display{
    position: relative;
    place-self: end;
    border: 1px solid lightgray;
    padding: 0.7em;
}

canvas {
    /* border: 1px solid lightgray; */
    
}

.modal {
    position: absolute;
    z-index: 1;

    padding: 0.3em;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: .3em;
    
    opacity: 0;
    transition: opacity 300ms;
    
    text-align: center;
    font-size: 1.3em;
}

.chart-title {
    position: absolute;
    left: 50%;
    translate: -50%;
    width: max-content;
}

.canvas-btns {
    display: grid; 
}

.save-btn{
    grid-column: 2;
    justify-self: end;
}

.download-btn{
    justify-self: start;
}



