.main-header {
    background-color: var(--primary--2);
    box-shadow: inset 0px -4px 0 #d9d7d7;
    margin-block-end: 1%;
}

.main-header h1 {
    margin: 0;
    justify-self: start;
}

.main-header .my-charts-btn {
    align-self: center;
    justify-self: end;
    width: max-content;
    height: max-content;
}