.my-charts-box {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    
    background-color: rgb(255 255 255 / 90%);
    border-inline-start: 1px solid #ccc;

    min-width: 30em;
    min-height: 80vh;
    padding: 20px;
    opacity: 0;
    z-index: 3;
    pointer-events: none;

    transition: opacity 0.6s;
}

body.my-charts-open .my-charts-box {
    opacity: 1;
    pointer-events: auto;
}

.my-charts-box .my-charts-title {
    text-transform: uppercase;
    font-size: 1.5em;
}

.my-charts-box .saved-chart-title, .my-charts-box .chart-creation-time {
    width: 12.5em;
}

.my-charts-box .saved-chart-icon {
    padding: 0;
}

.my-charts-box fieldset {
    display: grid;
    grid-template-areas: "sort-by sort-dir"
                         "search sort-dir";
    row-gap: 0.625em;

}

.sort-by, .search-input, .sort-dir-btn {
    padding: 0.175em;
}

.search {
    grid-area: search;
}

.search-input, .sort-by {
    width: 15em;
}

.sort-direction {
    grid-area: sort-dir;
    place-self: center;
}
